<h3>Nova categoria</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nov" method="post">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="nome da categoria" class="form-control">
            <label for="slug" class="form-label">Slug</label>
            <input type="text" name="slug" id="slug" placeholder="slug da categoria" class="form-control">
            <br>
            <button class="btn btn-success">criar categoria </button>
        </form>
    </div>
</div>